.Home {
    width: 100%;
    height: 100vh;
    display: flex;
}

.menuIcon {
    cursor: pointer;
    display: none;
    transform: translate(30%, 30%);
}

.addButton {
    display: inline-block;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    transform: translate(0, 1px);
    padding: 11px 14px;
}

.addImg {
    transform: translate(-2px, 1px);
}

#userView {
    flex-grow: 1;
}

#userImg {
    display: inline-block;
    transform: translate(0%, 40%);
}

.addButtonContainer {
    
}


@media screen and (max-width: 768px) {
    .menuIcon {
        display: initial;
    }
}